@import 'themes/light';
.console-ui-button {
  &&&&&&& {
    &,
    &.primary,
    &.light {
      min-height: 38px;
      margin: 0 10px 0 0;

      background-color: @background-color;
      border-color: @border-color;
      border-style: @border-style;
      border-width: @border-width;
      color: @color;

      &:hover {
        background-color: @background-color-hover;
        color: @color-hover;
      }
    }

    &.cta,
    &.call-to-action {
      @import 'themes/callToAction';
      background-color: @background-color;
      border-color: @border-color;
      border-style: @border-style;
      border-width: @border-width;
      color: @color;

      &:hover {
        background-color: @background-color-hover;
        color: @color-hover;
      }
    }

    &.dark {
      @import 'themes/dark';
      background-color: @background-color;
      border-color: @border-color;
      border-style: @border-style;
      border-width: @border-width;
      color: @color;

      &:hover {
        background-color: @background-color-hover;
        color: @color-hover;
      }
    }
  }
};

